.container{
    display: flex;
    flex-direction: column;
}
.escrita{
    display: flex; flex-direction: row;
}
.nome{
    justify-content: flex-start;
    margin-right: 800px;
}
.me-auto{
    display: flex; flex-direction: row; 
    font-size: large;
}
.cadastro{
    margin-left: 20px;
}